
<ng-container *ngIf="true">
  <div class="card-table">
    <div class="class-product" >
      <table>
        <div *ngFor="let item of cartItemList.body" class="border-product">
        <tr class="product-item">
          <td><img src="{{item.product.img_src}}" alt="image of shoe"></td>
          <div class="item-details">
            <td><h2>{{item.product.name}}</h2></td>
            <td>Price: {{item.product.price}}</td>
            <td>Quantity<input
              type="number"
              min="1"
              max="10"
              value="{{item.qty}}"
              (change)="handleQuantityChange($event, item)"
              ></td>
          </div>
          <td *ngIf="item"><fa-icon class="trash" [icon]="trash" (click)="deleteItemFromCart(item)"></fa-icon></td>
        </tr>
       </div>
      </table>
      <p>Total items: {{this.getTotalPriceAndItems(cartItemList.body).totalItems}}</p>
      <p>Total price: {{this.getTotalPriceAndItems(cartItemList.body).totalPrice}}</p>
      <button (click)="onBtnClick()">Continue Shopping</button>
      <button (click)="pay(this.getTotalPriceAndItems(cartItemList.body).totalPrice)">Checkout</button>

    </div>
  </div>
</ng-container>
<ng-container *ngIf="false">
  <div class="container">
  <div class="card">
    <h5 class="title">
      My Cart
    </h5>
  </div>
  <div class="center">

    <h4>Your cart is empty</h4>
    <button>Shop Now</button>
  </div>
  </div>

</ng-container>
