
<ng-container *ngIf="true">
  <div class="card-table">
    <div class="class-product" >
      <table>
        <div *ngFor="let item of cartItemList.body" class="border-product">
        <tr class="product-item">
          <td><img src="{{item.product.img_src}}" alt="image of shoe"></td>
          <td>{{item.product.name}}</td>
          <td>{{item.product.price}}</td>
          <td>{{item.qty}}</td>
          <td><fa-icon class="trash" [icon]="trash" (click)="deleteItemFromCart(item.product)"></fa-icon></td>
        </tr>
       </div>
      </table>
      <p>Total: {{grandTotal}}</p>
      <button (click)="onBtnClick()">Continue Shopping</button>
      <button>Checkout</button>

    </div>
  </div>
</ng-container>
<ng-container *ngIf="false">
  <div class="container">
  <div class="card">
    <h5 class="title">
      My Cart
    </h5>
  </div>
  <div class="center">

    <h4>Your cart is empty</h4>
    <button>Shop Now</button>
  </div>
  </div>

</ng-container>
