.navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #333333;
  height: 64px;
  padding: 0 3.90625vw;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 2pt;
}

.icon:hover {
  cursor: pointer;
}

.nav-content {
  display: flex;
}

.nav-content > a, li{
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  list-style-type: none;
}

.navbar-content > li > a {
  padding: 0px 10px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-content > li > a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
navbar-content > li > a:after {
  width: 100%;
  left: 0;
}

.nav-content > a > p:hover {
  border-bottom: 1px solid #333333;
}

