
<header>
  <div class="navbar">
    <!-- <p class="title">{{title}}</p> -->
    <!-- <div class="nav-content" (click)="btnClick()"> -->
      <a href="/products"><p>SEARCH</p></a>
      <a href="#"><p>ABOUT</p></a>
      <!-- <a (click)="btnClick()"><p>BAG</p></a> -->
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home Page</a></li>
        <li routerLinkActive="active"><a *ngIf="_auth.isLoggedIn()" routerLink="/restapi">Rest Call</a></li> -->
        <li routerLinkActive="active"><a *ngIf="!_auth.isLoggedIn()" routerLink="/sign-up">Register</a></li>
        <li  routerLinkActive="active"><a *ngIf="!_auth.isLoggedIn()" routerLink="/sign-in">Login</a></li>
        <li><a *ngIf="_auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">Logout</a></li>
    </div>


  <!-- </div> -->
</header>